/* header top bar section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.y_pad {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Navbar */

.logo {
    height: 173px;
    width: 300px;
    background: #07847f;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.top_bar {
    height: 42px;
    background: #1e3737;
    width: 104%;
}

.top_bar ul li span {
    color: #8b9e9e;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    top: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.bottom-bar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.bottom-bar ul.list {
    padding-left: 20px;
    margin-bottom: 0;
}

.bottom-bar ul.list>li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    padding: 40px 0;
    display: inline-block;
    font-size: 17px;
    color: #8b9e9e;
    transition: 1.3s;
}

.top_bar ul li {
    list-style: none;
}

.m_inner-section {
    /* background: #243cff; */
    display: flex;
}

.main_iner_mcontact {
    width: 100%;
    padding-left: 300px;
}

.logo:after {
    position: absolute;
    bottom: 0;
    right: -60px;
    height: 25px;
    width: 60px;
    background-color: #047470;
    content: "";
    clip-path: polygon(100% 0, 0 0, 0 100%);
    z-index: 1;
}

.icon {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 10px;
    padding-left: 240px;
}

.fa-brands {
    padding-right: 16px;
    color: #ffffff;
}

ul.map {
    position: absolute;
    top: 9px;
    right: 302px;
    font-size: 15px;
    color: #fff;
}

a {
    color: #8b9e9e;
    text-decoration: underline
}

ul.mailto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 9px;
    right: 65px;
    color: #fff;
}

.fa-solid,
.fas {
    font-weight: 900;
    padding-right: 5px;
}

.liste {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: flex-end;
    margin-right: 1rem;
}

li.adjust {
    padding-right: 54px;
    list-style: none;
    padding-right: 9px;
}

button.btn-orng {
    height: 50px;
    width: 160px;
    background: #fe7f4c;
    color: #fff;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.icon-user {
    width: 330px;
    padding-right: 50px;
}

.control {
    display: flex;
    align-items: center;
    padding-right: 35px;
}

img.icon-call {
    width: 28px;
    height: 27px;
    filter: invert(1);
}

/* section 1 */
.main-container {
    display: flex;
    width: 100%;
    background-image: url(./Assets/banner/slider-bg-1-3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.title {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding: 8px 12px;
    background-color: #0f4d4a;
    display: inline-block;
    /* position: relative;
    top: 202px;
    left: 223px; */
}

.text-slider {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 50px;
}

.text-slider h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    width: 400px;
    max-width: 100%;
}

p.text {
    margin-bottom: 0.4rem;
}

.phone_icon {
    height: 50px;
    width: 50px;
    background: #07847f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    border-radius: 50%;
}

.contact_content {
    display: flex;
    align-items: center;
}

.btn-discover {
    height: 50px;
    width: 160px;
    background: #fe7f4c;
    color: #fff;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.arrow {
    /* position: absolute;
    right: 1050px;
    bottom: 110px; */
    position: absolute;
    auto: 100px;
    right: -24px;
    bottom: -38px;
}


img.side-banner-img {
    height: 470px;
    width: 152px;
    z-index: 1;
}


.side-banner {
    position: absolute;
    right: 0;
    top: 0;
}

.side-banner-shape-4 {
    /* position: relative;
    left: 457px;
    top: 127px;
    height: 60%;
    width: 30%; */
    position: absolute;
    left: 1187px;
    bottom: 0px;
    height: 50%;
    width: 25%;

}

/* section 2 */


.main_card {
    background-image: url(./Assets/background/download.jpg);
    /* height: 50vh; */
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-4 {
    /* padding: 60px 60px 60px 60px; */
}

.row {
    padding: 50px 50px 50px 50px;
}

.title-h4 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
}

p.card-text-1 {
    color: inherit;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 500;
}

.card-1 {
    position: relative;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    background: white;
}


.title-icon img {
    height: 40px;
    width: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7489%) hue-rotate(2deg) brightness(110%) contrast(103%);
}

.icon-back {
    border-radius: 50px;
    background-color: #1e3737;
    width: 80px;
    height: 80px;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1:hover {
    background-color: #047470;
    transition: 0.9s;
    color: #fff;
}

.card:hover .icon-back {
    background-color: #2e2b2b;
    filter: invert(1);
    color: #ffffff;
}



/* ========================  About  ==================== */
.tp-about__space {
    padding: 50px 0;
}

.ab-title {
    font-size: 16px;
    color: #fe7f4c;
}

.ab-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #1e3737;
    padding-top: 10px;
}

.about-text p {
    color: #6e7a7a;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding-top: 30px;
}

i.fa-solid.fa-check {
    color: #ff4200e8;
    font-size: 20px;
    font-weight: 800;
}

.item-list1 {
    display: flex;
    align-items: baseline;
}

.item-list2 {
    display: flex;
    align-items: baseline;
    padding-left: 126px;
}

.item-list1 h4 {
    padding-left: 10px;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 38px;
}


.about-item {
    display: flex;
}

.item-list2 h4 {
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 38px;
    padding-left: 10px;
}
.tex-title {
    display: flex;
    color: #6e7a7a;
    font-size: 15px;
    font-weight: 500;
    padding-left: 32px;
    line-height: 38px;
}

p.sec-title {
    padding-left: 106px;
    line-height: 38px;
}

.outer_textslide {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8rem 0;
}

.progress {
    height: 0.6rem;
    width: 65%;
}

.align-items-center {
    width: 65%;
}

.progress-bar {
    background-color: #07847f;
}

.donation-title {
    font-size: 0.9rem;
    line-height: 53px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.tp-btn {
    background-color: #fe7f4c;
    color: #fff;
    height: 58px;
    line-height: 55px;
    padding: 0 51px;
    font-size: 14px;
    position: relative;
    transition: all 0.6s linear;
    overflow: hidden;
    z-index: 1;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    border: 0px;

}

.tp-about_bottom {
    gap: 60px;
    padding-top: 40px;
}
.bottom-2 {
    margin-top: -174px;
    margin-left: -108px;
}

.tp-about__author-name {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text-bottom-p {
    color: #6e7a7a;
    font-size: 0.9rem;
    font-weight: 500;
}

.tp-about__author-info {
    padding-left: 19px;
}

.paly_butn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ply-img {
    height: 60px;
    width: 60px;
    background: rgb(254, 127, 76);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    margin-top: -876px;
    margin-left: -382px;
}

.ply-img::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    background-color: #fe7f4c;
    animation: borderanimate2 2s linear infinite;
    z-index: -1;
    border-radius: 50%;
}

.ply-img::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    transform: scale(1.5);
    border: 1px solid #fe7f4c;
    animation: borderanimate2 2s linear infinite;
    border-radius: 50%;
}

@keyframes borderanimate2 {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

i.fa-solid.fa-play {
    font-size: 1.4rem;
    padding: 0px;
    font-size: 1.4rem;
}

/* ============================================ Donate Area =============================== */

.tp-donate_area {
    position: relative;
    margin: 0;
    left: 0px;
    background: aliceblue;
    overflow: hidden;
}

.donate-shape_1 {
    position: absolute;
    left: 0;
    top: -130px;
}

.donate-shape_2 {
    position: absolute;
    top: -103px;
    left: 0px;
}

.donate-shape_3 {
    position: absolute;
    right: 0px;
    top: -39px;
}

.tp-donate__bg {
    padding-top: 74px;
    position: relative;
}

.donate-subtitle {
    font-size: 17px;
    font-weight: 600;
    color: #fe7f4c;
    line-height: 2.2rem;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    top: -29px;
}

.donate-title h4 {
    font-size: 50px;
    font-weight: 800;
    color: #1e3737;
    display: inline-block;
    line-height: 0.9rem;
}

.donate_arrow {
    display: flex;
    gap: 25px;
    position: absolute;
    top: 149px;
    right: 192px;
}

.tp-arrow-left {
    height: 40px;
    width: 40px;
    border: 1px white solid;
    border-radius: 50px;
    line-height: 39px;
    text-align: center;
    background: #ffffff;
    color: #07847f;
    font-size: 16px;
    transition: 0.3s;
}

.row.row-cols-1.row-cols-md-3.g-4 {
    position: relative;
    bottom: 77px;
}

.tp-arrow-right {
    height: 40px;
    width: 40px;
    border: 1px white solid;
    border-radius: 50px;
    line-height: 39px;
    text-align: center;
    background: #ffffff;
    color: #07847f;
    font-size: 16px;
    transition: 0.3s;
}

.card-title {
    font-family: "Manrope", sans-serif;
    color: #1E3737;
    margin-bottom: .5rem;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.4;
    transition: 0.3s;
}

p.card-text {
    color: #6e7a7a;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.card-text:last-child {
    margin-bottom: 0;
    padding: 18px 18px;
}
.min-container {
    width: 90%;
    background-color: #e9ecef;
    padding: 0px;
    padding-right: 0px;
    height: 35px;
}

.pragras.bar-per {
    text-align: right;
    color: #ffff;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.pragras {
    width: 42%;
    background-color: #047470;
    padding: 0px;
    margin-left: 0px;
}

.pers_title {
    background-color: #ffff;
    color: #1e3737;
    font-size: 14px;
    font-weight: 800;
    text-align: end;
    padding-bottom: 6px;
    padding-right: 11px;
}

/* =========================================== 1#prograss */

.min-container-1 {
    width: 90%;
    background-color: #e9ecef;
    padding: 0px;
    padding-right: 0px;
    height: 35px;
}

.proga.per-1 {
    text-align: right;
    color: #ffff;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.proga {
    width: 64%;
    background-color: #047470;
    padding: 0px;
    margin-left: 0px;
}

.pers_title-1 {
    background-color: #ffff;
    color: #1e3737;
    font-size: 14px;
    font-weight: 800;
    text-align: end;
    padding-bottom: 6px;
    padding-right: 11px;
}

/* ============================= 2#prograss */

.min-container-2 {
    width: 90%;
    background-color: #e9ecef;
    padding: 0px;
    padding-right: 0px;
    height: 35px;
}

.prog.per-2 {
    text-align: right;
    color: #ffff;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.prog {
    width: 82%;
    background-color: #047470;
    padding: 0px;
    margin-left: 0px;
}

.pers_title-2 {
    background-color: #ffff;
    color: #1e3737;
    font-size: 14px;
    font-weight: 800;
    text-align: end;
    padding-bottom: 6px;
    padding-right: 11px;
}


.prograss_gols {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    color: #6E7A7A;
    font-size: 14px;

}

.prograss_gols-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    color: #6E7A7A;
    font-size: 14px;

}

.prograss_gols-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    color: #6E7A7A;
    font-size: 14px;
}

.prograss_gols-2 span b {
    font-weight: 800;
    color: #1E3737;
}

.prograss_gols span b {
    font-weight: 800;
    color: #1E3737;
}

.prograss_gols-1 span b {
    font-weight: 800;
    color: #1E3737;
}

.btn-donate {
    height: 50px;
    width: 160px;
    background: #ffffff;
    color: #07847f;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
}

.btn-donate-1 {
    height: 50px;
    width: 160px;
    background: #ffffff;
    color: #07847f;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
}

.btn-donate-2 {
    height: 50px;
    width: 160px;
    background: #ffffff;
    color: #07847f;
    border: 0px;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
}

.thumb-img {
    position: absolute;
    top: 193px;
    left: -22px;
    overflow: hidden;
}

.thumb-text {
    position: relative;
    left: 52px;
    bottom: 33px;
}

.thumb-text span {
    font-size: 14px;
    color: #ffff;
    font-weight: 700;
}

.card {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding-bottom: 140px;
}

.card-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =============================================================gallery-area-start=========================================== */

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.main-content div {
    flex: 0 0 19.3%;
}

.main-content div img {
    height: 100%;
    width: 100%;
}